.header{
    width: 100%;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: block;
    color: white;
}

.header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 75px;
}

.header__link{
    text-decoration: none;
    color: aqua;
}